Node-RED_Flows/Lab2_Flow.json
[{"id":"9a6fe7da.d3248","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cff6856b.87531","type":"inject","z":"9a6fe7da.d3248","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":360,"wires":[["56f8970d.ef47f"]]},{"id":"56f8970d.ef47f","type":"file in","z":"9a6fe7da.d3248","name":"","filename":"/home/pi/mxet300_lab/basics/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":300,"wires":[["487566ae.2000b"]]},{"id":"487566ae.2000b","type":"ui_gauge","z":"9a6fe7da.d3248","name":"","group":"2c0384ee.d514b4","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Volts","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":280,"wires":[]},{"id":"2c0384ee.d514b4","type":"ui_group","name":"Robot Diagnostics","tab":"64576b94.e6fecc","order":1,"disp":true,"width":"6","collapse":false},{"id":"64576b94.e6fecc","type":"ui_tab","name":"Lab 2 Onboard Sensor & GUI","icon":"dashboard","order":1,"disabled":false,"hidden":false}]