Node-RED_Flows/Lab3_Flow.json
[{"id":"a04111b5.a49d98","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef10c289.36944","type":"inject","z":"a04111b5.a49d98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["e6e852fd.8d4f78","cf961d79.4bec6","75f8d402.6350d4"]]},{"id":"e6e852fd.8d4f78","type":"file in","z":"a04111b5.a49d98","name":"","filename":"/home/pi/mxet300_lab/basics/compassheading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":320,"wires":[["d7c921db.fd37b8"]]},{"id":"cf961d79.4bec6","type":"file in","z":"a04111b5.a49d98","name":"","filename":"/tmp/cardinaldirection","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":420,"wires":[["dedcb860.ea0cb"]]},{"id":"d7c921db.fd37b8","type":"ui_gauge","z":"a04111b5.a49d98","name":"","group":"fa778401.2c7cc8","order":2,"width":0,"height":0,"gtype":"compass","title":"Compass Heading","label":"degree","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":320,"wires":[]},{"id":"dedcb860.ea0cb","type":"ui_text","z":"a04111b5.a49d98","group":"fa778401.2c7cc8","order":1,"width":0,"height":0,"name":"Cardinal Direction","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"col-center","x":890,"y":420,"wires":[]},{"id":"c2edead0.78d9f8","type":"ui_gauge","z":"a04111b5.a49d98","name":"","group":"285a9cf1.6ee96c","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":220,"wires":[]},{"id":"75f8d402.6350d4","type":"file in","z":"a04111b5.a49d98","name":"","filename":"/home/pi/mxet300_lab/basics/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":600,"y":200,"wires":[["c2edead0.78d9f8"]]},{"id":"fa778401.2c7cc8","type":"ui_group","name":"Magnetometer","tab":"c59fd3c4.05c5c","order":2,"disp":true,"width":"6","collapse":false},{"id":"285a9cf1.6ee96c","type":"ui_group","name":"Robot Diagnostics","tab":"c59fd3c4.05c5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c59fd3c4.05c5c","type":"ui_tab","name":"Lab 3 Compass Calibration","icon":"dashboard","order":2,"disabled":false,"hidden":false}]