Node-RED_Flows/Lab4_flows.json
[{"id":"3cee0a3d.fe4826","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"89cdcc6.35b3b3","type":"inject","z":"3cee0a3d.fe4826","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":340,"wires":[["a4b7b9aa.5a1228","8f548421.626a08","bb9ae223.c4d46"]]},{"id":"30b6cb49.a43214","type":"ui_gauge","z":"3cee0a3d.fe4826","name":"","group":"cc6f4b5a.3a9948","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":220,"wires":[]},{"id":"a4b7b9aa.5a1228","type":"file in","z":"3cee0a3d.fe4826","name":"","filename":"/home/pi/mxet300_lab/basics/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":780,"y":220,"wires":[["30b6cb49.a43214"]]},{"id":"8f548421.626a08","type":"file in","z":"3cee0a3d.fe4826","name":"","filename":"/home/pi/mxet300_lab/basics/Forwardvel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":790,"y":380,"wires":[["72bea78d.70eab8"]]},{"id":"72bea78d.70eab8","type":"ui_chart","z":"3cee0a3d.fe4826","name":"","group":"9fc93b72.f41508","order":0,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1140,"y":380,"wires":[[]]},{"id":"bb9ae223.c4d46","type":"file in","z":"3cee0a3d.fe4826","name":"","filename":"/home/pi/mxet300_lab/basics/Angularvel","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":800,"y":520,"wires":[["ae01f1ad.7776c"]]},{"id":"ae01f1ad.7776c","type":"ui_chart","z":"3cee0a3d.fe4826","name":"","group":"9fc93b72.f41508","order":1,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":520,"wires":[[]]},{"id":"cc6f4b5a.3a9948","type":"ui_group","name":"Robot Diagnostics","tab":"157464ed.1acedb","order":1,"disp":true,"width":"6","collapse":false},{"id":"9fc93b72.f41508","type":"ui_group","name":"Chassis Speeds","tab":"157464ed.1acedb","order":2,"disp":true,"width":"6","collapse":false},{"id":"157464ed.1acedb","type":"ui_tab","name":"Lab 4 Motor Drivers","icon":"dashboard","order":3,"disabled":false,"hidden":false}]