Node-RED_Flows/Lab5_Flows.json
[{"id":"6299d00f.d36d9","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b7c05969.9b13c8","type":"inject","z":"6299d00f.d36d9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":360,"wires":[["6c3ed0a9.479bf","428a0742.e53308","43de91ef.5ad04","c488c564.4d1928","a53ad9cd.1623f8"]]},{"id":"8fa778b6.6d8f28","type":"ui_gauge","z":"6299d00f.d36d9","name":"","group":"9c661774.48ac18","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":240,"wires":[]},{"id":"6c3ed0a9.479bf","type":"file in","z":"6299d00f.d36d9","name":"","filename":"/home/pi/mxet300_lab/basics/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":240,"wires":[["8fa778b6.6d8f28"]]},{"id":"428a0742.e53308","type":"file in","z":"6299d00f.d36d9","name":"","filename":"/home/pi/mxet300_lab/basics/ForwardVelocity","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":710,"y":400,"wires":[["f61b9bb1.689a88"]]},{"id":"f61b9bb1.689a88","type":"ui_chart","z":"6299d00f.d36d9","name":"","group":"874762b1.f4751","order":0,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":400,"wires":[[]]},{"id":"43de91ef.5ad04","type":"file in","z":"6299d00f.d36d9","name":"","filename":"/home/pi/mxet300_lab/basics/AngularVelocity","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":710,"y":540,"wires":[["72db258e.ca0f1c"]]},{"id":"72db258e.ca0f1c","type":"ui_chart","z":"6299d00f.d36d9","name":"","group":"874762b1.f4751","order":1,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":540,"wires":[[]]},{"id":"c488c564.4d1928","type":"file in","z":"6299d00f.d36d9","name":"","filename":"/home/pi/mxet300_lab/basics/Leftmotor","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":700,"y":680,"wires":[["87ef9251.aad87"]]},{"id":"87ef9251.aad87","type":"ui_chart","z":"6299d00f.d36d9","name":"","group":"472f1522.5ee5ac","order":0,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":680,"wires":[[]]},{"id":"a53ad9cd.1623f8","type":"file in","z":"6299d00f.d36d9","name":"","filename":"/home/pi/mxet300_lab/basics/Rightmotor","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":710,"y":820,"wires":[["a84abd15.9784d"]]},{"id":"a84abd15.9784d","type":"ui_chart","z":"6299d00f.d36d9","name":"","group":"472f1522.5ee5ac","order":1,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":820,"wires":[[]]},{"id":"9c661774.48ac18","type":"ui_group","name":"Robot Diagnostics","tab":"dda9a468.ac3f38","order":1,"disp":true,"width":"6","collapse":false},{"id":"874762b1.f4751","type":"ui_group","name":"Chassis Speeds","tab":"dda9a468.ac3f38","order":2,"disp":true,"width":"6","collapse":false},{"id":"472f1522.5ee5ac","type":"ui_group","name":"Wheel Speeds","tab":"dda9a468.ac3f38","order":3,"disp":true,"width":"6","collapse":false},{"id":"dda9a468.ac3f38","type":"ui_tab","name":"Lab 5 Encoder","icon":"dashboard","order":5,"disabled":false,"hidden":false}]