Node-RED_Flows/Lab6_Flows.json
[{"id":"462710b3.d99d8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"abb69278.6a716","type":"inject","z":"462710b3.d99d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["3836e450.498a0c","f367de0d.a65e1","dbb874d7.365d68","f88af67e.f761b8","f8e8d65b.867148"]]},{"id":"b440999d.259768","type":"ui_gauge","z":"462710b3.d99d8","name":"","group":"de1a755b.8a8fa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":160,"wires":[]},{"id":"3836e450.498a0c","type":"file in","z":"462710b3.d99d8","name":"","filename":"/home/pi/mxet300_lab/basics/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":700,"y":160,"wires":[["b440999d.259768"]]},{"id":"f367de0d.a65e1","type":"file in","z":"462710b3.d99d8","name":"","filename":"/home/pi/mxet300_lab/basics/XCart","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":300,"wires":[["4356f822.3da528"]]},{"id":"4356f822.3da528","type":"ui_chart","z":"462710b3.d99d8","name":"","group":"3a045ba2.062a54","order":0,"width":0,"height":0,"label":"X Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":300,"wires":[[]]},{"id":"dbb874d7.365d68","type":"file in","z":"462710b3.d99d8","name":"","filename":"/home/pi/mxet300_lab/basics/YCart","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":440,"wires":[["1c45170a.3b6a59"]]},{"id":"1c45170a.3b6a59","type":"ui_chart","z":"462710b3.d99d8","name":"","group":"3a045ba2.062a54","order":1,"width":0,"height":0,"label":"Y Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":440,"wires":[[]]},{"id":"f88af67e.f761b8","type":"file in","z":"462710b3.d99d8","name":"","filename":"/home/pi/mxet300_lab/basics/AngleLI","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":580,"wires":[["1ba66cda.2d6ea3"]]},{"id":"f8e8d65b.867148","type":"file in","z":"462710b3.d99d8","name":"","filename":"/home/pi/mxet300_lab/basics/DistanceLI","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":700,"y":720,"wires":[["6a66037f.3c4a1c"]]},{"id":"6a66037f.3c4a1c","type":"ui_chart","z":"462710b3.d99d8","name":"","group":"74d62b22.1c1984","order":1,"width":0,"height":0,"label":"Distance","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":720,"wires":[[]]},{"id":"1ba66cda.2d6ea3","type":"ui_gauge","z":"462710b3.d99d8","name":"","group":"74d62b22.1c1984","order":2,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"Degrees","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":580,"wires":[]},{"id":"de1a755b.8a8fa8","type":"ui_group","name":"Robot Diagnostics","tab":"19737f54.3df991","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a045ba2.062a54","type":"ui_group","name":"Cartesian Coordinates","tab":"19737f54.3df991","order":2,"disp":true,"width":"6","collapse":false},{"id":"74d62b22.1c1984","type":"ui_group","name":"Polar Coordinates","tab":"19737f54.3df991","order":3,"disp":true,"width":"6","collapse":false},{"id":"19737f54.3df991","type":"ui_tab","name":"Lab 6 LIDAR","icon":"dashboard","order":6,"disabled":false,"hidden":false}]